<% content_for :title, "Notes" %>

<h1>Notes</h1>

<section id="notes" class="h-feed">
  <span class="p-name" hidden>Adam Dawkins - Notes</span>
  <% @notes.each do |note| %>
    <%= render note %>
  <% end %>
</section>
