<% content_for :title, "Articles" %>

<h1>Articles</h1>

<section id="articles" class="h-feed">
  <span class="p-name" hidden>Adam Dawkins - Articles</span>
  <% @articles.each do |article| %>
    <%= render article %>
  <% end %>
</section>
