<header class="h-card">
  <h1 class="p-name">Adam Dawkins</h1>
  <p>I am a co-founder and the <span class="p-job-title">Technical Director</span> at <a class="p-org" href="https://www.dragondrop.uk">Dragon Drop</a>, a development agency focused on building bespoke internal tools for organisations that want to use technology that works for them.</p>
  <p>I've been a developer since 2008, and most days, we're using Ruby on Rails.</p>
  <p>This is where I write about things.</p>
</header>

<section>
  <h2>Recent Articles</h2>
  <% if @recent_articles.any? %>
    <div class="articles">
      <%= render partial: 'articles/article', collection: @recent_articles %>
    </div>
    <p><%= link_to 'View all articles', articles_path %></p>
  <% else %>
    <p>No articles yet.</p>
  <% end %>
</section>

<section>
  <h2>Recent Notes</h2>
  <% if @recent_notes.any? %>
    <div class="notes">
      <%= render partial: 'notes/note', collection: @recent_notes %>
    </div>
    <p><%= link_to 'View all notes', notes_path %></p>
  <% else %>
    <p>No notes yet.</p>
  <% end %>
</section>

<section>
  <h2>Elsewhere</h2>
  <ul>
    <li><a href="https://www.dragondrop.uk">Dragon Drop</a></li>
    <li><a href="https://github.com/adamdawkins" rel="me">Github</a></li>
    <li><a href="https://ruby.social/@adamdawkins" rel="me">Mastodon</a></li>
    <li><a href="https://www.linkedin.com/in/adam-dawkins-b22009176/" rel="me">LinkedIn</a></li>
  </ul>
</section>

