<header class="h-card">
  <h1 class="p-name">Adam Dawkins</h1>
  <p>I am a co-founder and the <span class="p-job-title">Technical Director</p> at <a class="p-org" href="https://www.dragondrop.uk">Dragon Drop</a>, a development agency focused on building bespoke internal tools for organisations that want to use technology that works for them.</p>
  <p>I've been a developer since 2008, and most days, we're using Ruby on Rails.</p>
  <p>This is where I write about things.</p>
</header>
